%br/
= button_to 'My Blogs', blogs_path, :method => "get"

- if @blog.is_draft?

  %h1 Edit Blog

  %div{id: "displayImage", style: "height:200px;width:200px;background-image:url(#{@blog.image_url})"}
  %input{id: "imageUploader", type: :file, style: "display: none"}
  %button{id: "buttonUploader"} Upload Image

  = form_for (@blog) do |f|

    - if @blog.errors.any?
      #error_explanation
        %h3
          = pluralize(@blog.errors.count, "error")
          prohibited this blog from being saved:
        %ul
          - @blog.errors.full_messages.each do |message|
            %li= message

    %textarea{name: "image", id: "base64Image", style: "display: none"}

    .field 
      = f.text_field :title, placeholder: "Title"
    .field 
      = f.text_field :caption, placeholder: "Content"
    .field 
      = f.text_area :description, placeholder: "Description"

    %select.js-example-basic-multiple{:name => "categories[]", :multiple => "multiple"}
      - @categories.each do |category|
        - if @blog.categories.include?(category)
          %option{:value => "#{category.id}", :selected => true}= category.name 
        - else
          %option{:value => "#{category.id}"}= category.name 

    .actions 
      = f.submit "Update"
- else
  %p You cannot edit this blog anymore.