- if @blog.is_draft?

  %h1 Edit Blog

  = form_for (@blog) do |f|
    - if @blog.errors.any?
      #error_explanation
        %h3
          = pluralize(@blog.errors.count, "error")
          prohibited this blog from being saved:
        %ul
          - @blog.errors.full_messages.each do |message|
            %li= message
    .field 
      = f.text_field :title, placeholder: "Title"
    .field 
      = f.text_field :caption, placeholder: "Content"
    .field 
      = f.text_area :description, placeholder: "Description"

    %select.js-example-basic-multiple{:name => "categories[]", :multiple => "multiple"}
      - @categories.each do |category|
        - if @blog.categories.include?(category)
          %option{:value => "#{category.id}", :selected => true}= category.name 
        - else
          %option{:value => "#{category.id}"}= category.name 

    .actions 
      = f.submit "Update"
    
    %br
    = link_to "Back", blogs_path