%h2 Blog

.picture
  = image_tag @blog.image_url(:thumb).to_s

%table
  %thead
    %tr
      %th Title
      %th Caption
      %th Description
      %th Category
      %th User
      %th{:colspan => "5"}
  %tbody
    %tr
      %td= @blog.title
      %td= @blog.caption
      %td= @blog.description
      %td
        - @blog.categories.each do |category|
          = category.name
      %td= @blog.user.email
