- if user_signed_in?
  %br/
  = button_to 'Create Blog', new_blog_path, :method => "get"
    
  %br/
  = button_to 'My Blogs', blogs_path, :method => "get"
-else  
  #{link_to "Register", new_user_registration_path} or #{link_to "Sign In", new_user_session_path}

- unless @blogs.empty?
  %h2 Live Blogs

  %table
    %thead
      %tr
        %th Title
        %th Caption
        %th Description
        %th User
        %th{:colspan => "4"}
    %tbody
      - @blogs.each do |blog|
        %tr
          %td= blog.title
          %td= blog.caption
          %td= blog.description
          %td= blog.user.email
  %br/        
  = will_paginate @blogs
- else
  %p Blog list is empty.

